explainable_ef/ef_model.pth
explainable_ef/logs/training_*.log
explainable_ef/__pycache__/*.pyc
explainable_ef/data/__pycache__/*.pyc
explainable_ef/models/__pycache__/*.pyc
explainable_ef/best_model.pth
logs/*.log
explainable_ef/**/*.pyc
explainable_ef/visualization/outputs/*
explainable_ef/best_model_smoke_cli_test.pth
explainable_ef/best_model_smoke.pth
explainable_ef/best_model_perf_patch_smoke.pth
explainable_ef/best_model_perf_patch_smoke3.pth
